<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="skyhigh.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Sell</title>
</head>
<body>
    <%- include ('navbar')%>
    <div class="row">
        <div id="top-col" class="col-6">
            <div>
                <img id="home-bannerbg-img" src="Rectangle 203.png">
                <div id="home-bannerimg-content-sell" class="text-white">
                    <span id="home-img-content-sell">Sell Your Property Today</span><br>
                    <span id="home-img-content-sell">With <span id="span-in-span">Sky High</span></span><br>
                    <div>
                        <p id="sell-home-para">Sell your property stress-free with SkyHigh Realty Ventures. With our market expertise and personalized approach, we ensure maximum exposure and optimal results for your sale. From pricing strategy to negotiation, let us handle the details while you enjoy a smooth and successful selling experience.</p>
                    </div>
                    <div id="sell-home-buying-btn">
                        <button class="border-0 rounded-4 text-white fw-semibold"
                            id="home-banner-btn">Selling</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 d-flex image-container">
            <div class="d-flex justify-content-center" style="padding: 20px;">
            <img src="Mask group.png" alt="">
            <img src="Mask group(1).png" alt="">
            <img src="Mask group(2).png" alt="">
            <img src="Mask group(3).png" alt="">
            <img width="100%" src="Mask group(4).png" alt="">
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <p class="text-black fs-4 fw-bold">Property <span id="choose-it">Selling</span></p>
    </div>
   <div class="d-flex justify-content-center">
    <div class="card shadow  border-0 rounded-4" style="width: 65rem;">
        <div class="card-body">
            <div class="d-flex">
                <input id="nameInput" class="border-0 bg-primary-subtle rounded-2" type="text" placeholder="Name">
                <input id="phoneInput" class="border-0 bg-primary-subtle rounded-2" type="number" placeholder="Phone Number">
          </div>
          <div class="d-flex justify-content-center">
              <button id="postButton" class="bg-primary text-white rounded-2 mt-3 border-0">Start Posting Your Requirements</button>
          </div>
        </div>
      </div>
   </div>
   <div class="text-center mt-5">
    <p class="text-black fs-4 fw-bold">Our Valuable Property Buying Customers <span id="choose-it">Reviews</span></p>
</div>
<div class="d-flex justify-content-evenly mt-5">
    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <div class="d-flex">
                <img width="20%" src="Ellipse 3(1).png">
                <div class="ms-2">
                    <span class="fw-semibold text-black">Krishnan</span><br>
                    <span class="text-secondary">Nagercoil,Kanyakumari,Tamilnadu</span><br>
                    <img src="Group 120.png">
                </div>
            </div>
            <p class="mt-3" id="review-card-para">Lorem ipsum dolor sit amet consectetur. Dui nulla nunc
                ultricies egestas tellus pellentesque sed facilisis. Sed molestie bibendum nunc pellentesque
                fames nunc ullamcorper ac. Sollicitudin et amet eleifend quis pellentesque. Congue varius
                commodo tortor dolor adipiscing. Laoreet urna ipsum ultricies integer eu amet nam magna tellus.
                Phasellus accumsan faucibus viverra.</p>
            <span class="d-flex justify-content-end">March 20,2024</span>
        </div>
    </div>

    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <div class="d-flex">
                <img width="20%" src="Ellipse 3(2).png">
                <div class="ms-2">
                    <span class="fw-semibold text-black">Praveen</span><br>
                    <span class="text-secondary">Nagercoil,Kanyakumari,Tamilnadu</span><br>
                    <img src="Group 120.png">
                </div>
            </div>
            <p class="mt-3" id="review-card-para">Lorem ipsum dolor sit amet consectetur. Dui nulla nunc
                ultricies egestas tellus pellentesque sed facilisis. Sed molestie bibendum nunc pellentesque
                fames nunc ullamcorper ac. Sollicitudin et amet eleifend quis pellentesque. Congue varius
                commodo tortor dolor adipiscing. Laoreet urna ipsum ultricies integer eu amet nam magna tellus.
                Phasellus accumsan faucibus viverra.</p>
            <span class="d-flex justify-content-end">March 20,2024</span>
        </div>
    </div>

    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <div class="d-flex">
                <img width="20%" src="Ellipse 3(3).png">
                <div class="ms-2">
                    <span class="fw-semibold text-black">Manikandan</span><br>
                    <span class="text-secondary">Nagercoil,Kanyakumari,Tamilnadu</span><br>
                    <img src="Group 120.png">
                </div>
            </div>
            <p class="mt-3" id="review-card-para">Lorem ipsum dolor sit amet consectetur. Dui nulla nunc
                ultricies egestas tellus pellentesque sed facilisis. Sed molestie bibendum nunc pellentesque
                fames nunc ullamcorper ac. Sollicitudin et amet eleifend quis pellentesque. Congue varius
                commodo tortor dolor adipiscing. Laoreet urna ipsum ultricies integer eu amet nam magna tellus.
                Phasellus accumsan faucibus viverra.</p>
            <span class="d-flex justify-content-end">Feb 24,2024</span>
        </div>
    </div>
</div>
<div class="mt-5">
    <p class="text-center fw-bold fs-3">Get In <span id="choose-it">Touch</span></p>
</div>
<div class="">
   <div class="row">
       <div id="input-footer-card-img" class="col-2 text-center">
           <img width="99%" src="Rectangle 112.png">
       </div>
       <div class="col-10 d-flex justify-content-end mt-5">
        <div id="input-footer-card" class="card border-0" style="width: 55rem; background-color: #ECF9FF;">
            <div class="card-body">
                <form>
                    <div class="d-flex justify-content-center grid gap-3">
                        <input class="border-bottom" id="name-input" oninput="validateName()" type="text1" placeholder="Name">
                        <input class="border-bottom" id="phone-input" oninput="validatePhone()" type="phone1" placeholder="Phone Number">
                    </div>
                    <div class="d-flex justify-content-center grid gap-3 mt-5">
                        <div>
                            <select class="bg-white border w-100" name="city" id="city">
                                <option value="City">Ariyalur</option>
                                <option value="City">Chengalpattu</option>
                                <option value="City">Kanyakumari</option>
                                <option value="City">Chennai</option>
                                <option value="City">Thirunelveli</option>
                                <option value="City">City</option>
                            </select>
                        </div>
                        <div>
                            <select class="bg-white border w-100" name="Service Request" id="Service Request">
                                <option value="Service Request">Buy</option>
                                <option value="Service Request">Sell</option>
                                <option value="Service Request">Rent</option>
                                <option value="Service Request">Service Request</option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-5 border-0">
                        <textarea placeholder="Description(Optional)"></textarea>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button class="rounded-3 border-0 text-white" style="background-color: #00A0E1;" onclick="requestCall()">Request a Call</button>
                    </div>
                </form>
            </div>
        </div>
       </div>
   </div>
</div>
    <%- include ('footer')%>
</body>
<script>
    var navColor=document.getElementById('atagS')
    navColor.style.color='#00A0E1'
    navColor.style.textDecoration='underline 2px'

    document.getElementById('postButton').addEventListener('click',function(){
        var n=document.getElementById('nameInput').value
        var p=document.getElementById('phoneInput').value
        var nameValid=/^[A-Za-z]{5,}$/.test(n)
        var phoneValid=/^[0-9]{5}$/.test(p)
        if(nameValid && phoneValid){
            alert('Successfully!')
        }else{
            if(!nameValid){
                alert('Name must be entered 5 characters')
            }
            if(!phoneValid){
                alert('Phone must be entered 5 numbers')
            }
        }
    })
</script>
</html>